<div class="container pt-4">
        <table class="table">
                <thead class="text-light bg-dark">
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Edad</th>
                  </tr>
                </thead> 
                <tbody>
                  <tr *ngFor="let lista of datos; index as i">
                        <th scope="row" >{{i}}</th>
                        <th>{{lista.nombre}}</th>
                        <th>{{lista.apellido}}</th>
                        <th>{{lista.dni}}</th>
                        <th>{{lista.sexo}}</th>
                        <th>{{lista.edad}}</th>
                  </tr>
                </tbody>
              </table>
</div>
<script src="paginacion.js"></script>