<div class="container pt-4">
        <table class="table">
                <thead class="text-light bg-dark">
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Edad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   
                  </tr>
                </tbody>
              </table>
</div>