<div class="Pagina_usuario">
    <section>
        <div class="container-fluid pt-5">
            <div class="container_landingpage text-center" >
            <div style="position:relative;top: 20%;">
            <h1>SFK</h1>
            <button class="btn btn-outline-success btn-lg">SFK quienes somos?</button>
            </div>
            <!-- <img src="/recurso/lectura.jpg" class="img-fluid"> -->
            </div>
        </div>
    </section>
    <section class="info_niveles py-3">
        <h1 class="text-center text-dark pb-5 pt-3 h3">Establezca sus valores predeterminados a continuación para un acceso rápido </h1>
<div class="container">
    <div class="row informacion_de_los_cursos">
        <div class="col-sm-6 col-md-4 d-flex justify-content-center pb-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top altura_imagen" src="../../assets/recurso/leyendo1.jpg" alt="Card image cap">
                <div class="card-body">
                <h3 class="text-center">Américas</h3>
                <p class="card-text text-center">
                    SKF Life Cycle Management es nuestro enfoque comprobado para optimizar el diseño.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 d-flex justify-content-center pb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top altura_imagen" src="../../assets/recurso/leyendo2.jpg" alt="Card image cap">
            <div class="card-body">
            <h3 class="text-center">Asia / Pacífico</h3>
            <p class="card-text text-center">
                Cada industria tiene sus desafíos únicos, pero prácticamente todas las industrias comparten los objetivos de mayor tiempo de actividad de la máquina.
            </p>
        </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-4 d-flex justify-content-center pb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top altura_imagen" src="../../assets/recurso/leyendo3.jpg" alt="Card image cap">
                <div class="card-body">
                <h3 class="text-center">Europa</h3>
                <p class="card-text text-center">La estrecha cooperación con los fabricantes de equipos y los usuarios finales industriales le ha dado a SKF una comprensión única de la interacción entre los componentes.</p>
                </div>
            </div>
        </div>     
    </div>       
</div>
</section>
</div>